{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center mt-2">Error</h2>
    <div class="text-center mt-3 alert alert-danger">{{ error_message }} </div>
    <div class="text-center mt-1">
        <a href="{{ app.request.schemeAndHttpHost }}">Want to create a new one?</a>
    </div>

{% endblock %}
